body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  background-color: #ea4c89;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 16px;
}
.button:hover,
.button:focus {
  background-color: #530825;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.button-link {
  background-color: #989194;
  color: #ffffff;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 16px;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
}
.button-link:hover,
.button-link:focus {
  background-color: black;
}

.input-field {
  padding: 10px;
  border-radius: 10px;
}
.row {
  margin: 10px;
}

.center {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15%;
  padding: 10px;
  display: inline-block;
  margin: 8px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
